$fcBlack88: rgba(0,0,0,0.88);
$fcBlack58: rgba(0,0,0,0.58);
$fcBlack50: rgba(0,0,0,0.5);
$fcBlack38: rgba(0,0,0,0.38);
$fcBlack33: rgba(0,0,0,0.33);
$bgDimd: rgba(0,0,0,0.1);

$pointBlue: #0100fe;
$pointGreen: #00FF01;
$pointYellow: #ffeb3b;
